
*{
    margin: 0px;
}

.all{
    display: flex;
    align-items: center;
    justify-content: space-around;
    .all-1{
        display: flex;
        align-items: center;
        gap:  30px;
        button{
            padding: 8px 30px;
            background-color: #3B9254;
            border-radius: 5px;
            border: none;
            color: white;
        }
    }
}
.section-1{
    background-image: url(./foto/main-pic-bg.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    justify-content: space-between;
    
    img{
        width: 50px;
    }
    .sd{
        font-size: 20px;
    }
}
.top1 {
  background: #4c8f5a;
  padding: 40px;
  border-radius: 12px;
  max-width: 1100px;
  margin: 40px auto;


.booking-title {
  color: white;
  font-size: 28px;
  margin-bottom: 30px;
}

.booking-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto;
  gap: 20px;
  align-items: end;
}

.booking-field {
  display: flex;
  flex-direction: column;
}

.booking-field label {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.booking-input {
  background: #e5e5e5;
  border-radius: 10px;
  padding: 14px 16px;
}

.booking-input input {
  border: none;
  background: transparent;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.booking-btn {
  background: #1e1e1e;
  color: white;
  border: none;
  padding: 16px 30px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.booking-btn:hover {
  background: black;
}
}
.grid{
    display: grid;
    grid-template-columns: 160px 160px 320px 160px 160px;
    grid-template-rows: 200px 200px;
    margin-left: 30px;
    gap: 10px;
    .box-1{
        width: 160px;
        height: 200px;
    }
    .box-2{
        width: 160px;
        height: 200px;
    }
    .box-3{
        width: 320px;
        height: 410px;
    }
    .box-4{
        grid-column: 4/6;
        width: 330px;
        height: 200px;
    }
    .box-5{
        grid-column: 1/3 ;
         width: 330px;
        height: 200px;
    }
    .box-6{
        grid-column: 4/5;
        width: 160px;
        height: 200px;
    
    }
    .box-7{
        width: 160px;
        height: 200px;
    }
}
.h1{
    margin-top: 50px;
    margin-left: 30px;
}
.arenda{
    background-color: #F0E7D9;
    width: 80%;
    margin: auto;
    padding: 10px;
    height: 600px;
    margin-top: 20px;
    border-radius:13px;
    .img{
        background-image: url(./main-4/Rectangle\ 2\ \(4\).png) ;
        width: 93%;
        height: 110vh;
        background-repeat: no-repeat;
        background-position: 100%;
        background-size: 100%;
        margin-top: -60px;
        margin-left: auto;
        display: flex;
        margin-right: auto;
        align-items: center;
        justify-content: space-between;
        img{
            width: 50px;
        }
    }
    .qw{
       
         display: flex;
         margin: 20px 0px; 
         margin-top: -50px;
         gap: 10PX;
        p{
            background-color: rgba(255, 255, 255, 0.55);
            width: 170px;
            text-align: center;
            border-radius: 10px;
        }

    }
    .flex{
        display: flex;
        button{
            background-color: #3B9254;
            color: white;
            border: none;
            border-radius: 10px;
        }
    }
}
.obshi{
.but-flex{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-left: 20px;
    
    .menu{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 6px;
        background-color: #4c8f5a3b;
        border: none;
        border-radius: 10px;
        color: #4c8f5a;
    }
    .menu-1{
         display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 6px;
        background-color: #3B9254;
        border: none;
        border-radius: 10px;
        color: white;
    }
}
.flex-box{



    padding: 20px;
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
    .img-box{
        p{
            margin: 10px;
        }
        img{
            width: 300px;
        }
    }
}

}
.green{
    background-color: #a3ffbd2d;
    width: 100%;
    height: 400px;
    .ds{
 display: flex;
 justify-content: space-around;
 gap: 300px;
        .ss{
            display: flex;
            gap: 10px;
        }
    }
    .fd{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 50px;
        align-items: center;
        img{
        width: 200px;    
        }
    }
}


.fk{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;

    .text{
        width: 400px;
        p{
            margin: 14px 0px;
        }
    }
    .asas{
        img
        
        {
            width: 500px;
        }
    }
    
    
}

.boxx{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
 gap: 20px;
 margin-top: 50px;
    .box-1{
        background-color: whitesmoke;
        width: 430px;
        padding: 12px;
        border-radius: 10px;
    }
}